<h1>Add a reward for <%= @project.title %></h1>

<%= form_for [@project, @reward] do |f| %>
  <div>
    <%= f.label :dollar_amount %>
    <%= f.number_field :dollar_amount, step: 0.01 %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit %>

  <% if @reward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% @reward.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
