<h1><%= @project.title %></h1>
<h3>By - <%= link_to(@project.user.full_name, user_path(@project.user)) %> </h3>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<% if current_user && @project.users.include?(current_user) %>
  <p>Thank you so much for supporting our project!</p>
<% end %>

<% if current_user == @project.user && @project.pledges.length > 0 %>
  <h2>Who's Backed Your Project?</h2>
  <% backer_array = [] %>
  <% @project.pledges.each do |pledge| %>
    <% unless backer_array.include?(pledge.user.full_name) %>
      <% backer_array << pledge.user.full_name %>
    <% end %>
  <% end %>
  <% backer_array.each do |backer| %>
    <p> <%= backer %> </p>
  <% end %>
<% end %>

<h2>Updates</h2>

<% @user.updates.each do |update| %>
  <h3><%= update.title %></h3>
  <p><%= update.content %></p>
<% end %>

<div class="new_update_wrapper">
  <% if current_user == @project.user %>

  <h3>Add an Update</h3>

  <%= form_for @update, url: project_updates_url(@project) do |f| %>
    <div class="field">
      <p><%= f.label :title %></p>
      <p><%= f.text_field :title %></p>
    </div>

    <div class="field">
      <p><%= f.label :content %></p>
      <p><%= f.text_field :content %></p>
    </div>

    <div class="field">
      <p><%= f.submit  %></p>
    </div>
    <% end %>
  <% end %>
</div>

<h2>About <%= @project.title %> </h2>
<p><%= @project.description %></p>
<p>Progress: <%= number_to_currency(@project.pledges.sum(:dollar_amount)) %> / <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>

<time class="project-days-left">
  <%= icon('clock-o') %>
  <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %></time>



<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <p>
    <small>
      <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
  </p>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>
